
.hero {
  background: #fff4f4;
  height: 100vh;
  overflow: hidden;
  padding: 16rem 12rem;
  position: relative;
  width: 100%;
}

.hero__title {
  font-family: 'Source Serif Pro', serif;
  font-size: 12.4rem;
  letter-spacing: -4px;
  margin: 0;
  position: relative;
}

.hero__loading {
  bottom: -120px;
  position: absolute;
  right: -520px;
  transform-origin: bottom;
  transform: rotate(-29deg);
  width: 1200px;
}